<main class="main">
  <form class="main__form">
    <input type="text" class="main__form--input js-input" />
    <button type="button" class="main__form--button js-button">BUSCAR</button>
  </form>
  <section class="main__list">
    <div class="main__list--favourites">
      <h3 class="main__list--favourites-title">favoritas</h3>
      <ul class="js-favourites-list"></ul>
    </div>
    <div class="main__list--shows">
      <h3 class="main__list--shows-title">selec/deselec</h3>
      <ul class="js-shows-list"></ul>
    </div>
  </section>
</main>
