<main class="main">
  <form class="main__form">
    <input type="text" class="main__form--input js-input" />
    <button type="button" class="main__form--button js-button">BUSCAR</button>
  </form>
  <section class="main__series">
    <div class="main__series--favourites">
      <h3 class="main__series--favourites-title">favoritas</h3>
      <ul class="main__series--favourites-list js-favourites-list"></ul>
    </div>
    <div class="main__series--shows">
      <h3 class="main__series--shows-title">seleccionar / deseleccionar</h3>
      <ul class="main__series--shows-list js-shows-list"></ul>
    </div>
  </section>
</main>
