.main {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &--input {
      margin-top: 20px;
      width: 200px;
      height: 30px;
      border: 2px white solid;
      background-color: white;
      font-size: 16px;
      border-radius: 20px;
      padding-left: 10px;
      margin-bottom: 16px;
    }
    &--button {
      width: 80px;
      height: 30px;
      background-color: black;
      color: white;
      font-size: 14px;
      border: 2px white solid;
      border-radius: 20px;
    }
  }
  &__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 35% 1fr;
    &--favourites {
      grid-column: 1/2;
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      padding-bottom: 30px;
      &-title {
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
        padding-bottom: 20px;
      }
    }
    &--shows {
      grid-column: 2/3;
      color: white;
      list-style: none;
      padding-left: 16px;
      &-title {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}

.show {
  width: 200px;
  background-color: black;
  margin-bottom: 10px;
  border: 2px white solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px 10px;
  &__title {
    padding: 10px 0 8px;
    margin-bottom: 10px;
    border-radius: 14px;
    font-weight: 300;
  }
  &__image {
    border-radius: 14px;
  }
}

.favourite {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 2px white solid;
  border-radius: 10px;
  padding: 5px 5px;
  &__title {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  &__image {
    border-radius: 5px;
  }
}
.show-favourite {
  background-color: white;
  border: 2px black solid;
  &__title {
    background-color: white;
    color: black;
    font-weight: 300;
  }
}
