.main {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media all and (min-width: 550px) {
      padding-left: 30px;
    }
    &--input {
      margin-top: 20px;
      width: 200px;
      height: 30px;
      border: 2px white solid;
      background-color: white;
      font-size: 16px;
      border-radius: 20px;
      padding-left: 10px;
      margin-bottom: 16px;
      &:focus {
        outline: none;
      }
    }
    &--button {
      width: 80px;
      height: 30px;
      background-color: black;
      color: white;
      font-size: 14px;
      border: 2px white solid;
      border-radius: 20px;
    }
  }
  &__series {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 35% 1fr;
    justify-content: center;
    &--favourites {
      grid-column: 1/2;
      list-style: none;
      padding-left: min($numbers: 12px);
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      width: auto;
      align-items: center;
      @media all and (min-width: 550px) {
        padding-left: min($numbers: 16px);
      }
      &-title {
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        @media all and (min-width: 768px) {
          font-size: 24px;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        @media all and (min-width: 550px) {
        }
      }
    }
    &--shows {
      grid-column: 2/3;
      color: white;
      list-style: none;
      padding-left: min($numbers: 4px);
      width: fit-content;
      @media all and (min-width: 550px) {
        padding-left: 0;
        padding-right: min($numbers: 10px);
      }
      &-title {
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        @media all and (min-width: 768px) {
          font-size: 24px;
        }
      }
      &-list {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: min($numbers: 10px);
        @media all and (min-width: 550px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        @media all and (min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}

.show {
  width: 200px;
  background-color: black;
  margin-bottom: 10px;
  border: 2px white solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px 10px;
  @media all and (min-width: 550px) {
    margin-right: 5px;
  }
  &__title {
    margin-bottom: 10px;
    border-radius: 14px;
    font-weight: 300;
  }
  &__image {
    border-radius: 14px;
  }
}

.favourite {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 2px white solid;
  border-radius: 10px;
  padding: 5px 5px;
  margin-bottom: 10px;
  &__title {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  &__image {
    border-radius: 5px;
  }
}
.show-favourite {
  background-color: white;
  border: 2px black solid;
  &__title {
    background-color: white;
    color: black;
    font-weight: 300;
  }
}
